@model List<PoliceActivityApp.Models.PoliceActivity>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Police Activities</h1>

@section LeftSidebar {
    <div class="mb-4">
        <label for="datepicker" class="form-label">Datum</label>
        <input type="date" class="form-control" id="datepicker" />
    </div>
    <div>
        <h5>Brottskategorier</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="allCategories" checked>
            <label class="form-check-label" for="allCategories">
                Markera alla
            </label>
        </div>
        <!-- Add more categories here -->
    </div>
}

<div id="map" style="height: 600px; width: 100%;"></div>

@section RightSidebar {
    <div>
        <h5>Trafikbrott i Norrbottens län</h5>
        <p>Information about selected event goes here...</p>
    </div>
    <div>
        <h5>SENASTE NYTT</h5>
        <ul class="list-group">
            <!-- Latest news items go here -->
        </ul>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>@activity.Name</td>
                    <td>@activity.Summary</td>
                    <td>@activity.Location.Name</td>
                    <td>@(activity.Datetime == DateTime.MinValue ? "Invalid Date" : activity.Datetime.ToString("g"))</td>
                </tr>
            }
        </tbody>
    </table>
}



