body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    background-color: #f8f9fa;
}

    header .navbar-brand {
        display: flex;
        align-items: center;
    }

        header .navbar-brand img {
            margin-right: 10px;
        }

h5 {
    margin-top: 20px;
}

#map {
    height: 600px;
}

.left-sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.right-sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 1px solid #ddd;
}
